@import "../app.scss";

body {
    background-color: $background;
    min-height: 100vh;
    color: $text;
    display: flex;
    flex-direction: column;
    font-family: "Ubuntu", sans-serif;

    main {
        flex-grow: 1;
        margin: 1rem;
    }

    footer {
        text-align: center;
        padding: 2rem;
    }
}

