$text: hsl(100, 60%, 97%);
$background: hsl(102, 62%, 4%);
$primary: hsl(99, 86%, 63%);
$secondary: hsl(101, 61%, 6%);
$accent: hsl(339, 63%, 46%);

// This particular breakpoint came from bootstrap
$breakpoint-mobile: 576px;
